body{font-family:'Segoe UI',sans-serif;background:#f8f9fa}
.hero{background:#000;color:white;padding:80px 20px;text-align:center}
.product-img{height:230px;object-fit:cover}
.product-card{border-radius:12px;box-shadow:0 8px 20px rgba(0,0,0,0.15);transition:0.3s}
.product-card:hover{transform:translateY(-6px)}
.price{color:#198754;font-weight:bold}
.footer{background:#000;color:#fff;text-align:center;padding:10px;margin-top:40px}
